<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
    <title>Store Home Page</title>

    <<nav class="navbar navbar-light bg-light ">
        <a class="navbar-brand" href="/users/login">Home</a>
        <a class="navbar-brand" href="/users/profile">Profile</a>
        <a class="navbar-brand" href="/forms/addForm">Submit forms</a>
        <a class="navbar-brand" href="/forms">All my forms</a>
        <a class="navbar-brand" href="/users/userManagement">Admin</a>
      <a style="float:right" href="/users/logout" class="btn btn-secondary">Logout</a>
      </nav>
      
</head>
<style>

Body {
    font-family: Calibri;
    background-color: lightgrey;
}






</style>

<body>
    
</body>
</html>